In [1]:
## Data Exploration

## Monthly Active Stocks

In [9]:
import pandas as pd
import requests

def get_json_response(url, headers=None):
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()  # Raise an exception for bad status codes
        json_data = response.json()
        return json_data
    except requests.exceptions.RequestException as e:
        print("Error fetching data:", e)
        return None

if __name__ == "__main__":
    url = "https://www.nseindia.com/products/dynaContent/equities/equities/json/mostActiveMonthly.json"
    headers = {
        "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-GB,en;q=0.5",
        "Cookie": "Your Cookie Value Here",
        # Add any other necessary headers here
    }
    json_response = get_json_response(url, headers=headers)
    
    if json_response:
        # Print JSON response to inspect its structure
        print(json_response)

{'data': [{'security': 'HDFC BANK LTD', 'sharetotal': '5.10%', 'trdQty': '4646.41005', 'nooftrades': '8968546', 'avgdailyturn': '3707.363438', 'turnover': '77854.6322'}, {'security': 'RELIANCE INDUSTRIES LTD', 'sharetotal': '3.45%', 'trdQty': '1984.2471', 'nooftrades': '6338963', 'avgdailyturn': '2510.421295', 'turnover': '52718.8472'}, {'security': 'ICICI BANK LTD.', 'sharetotal': '2.38%', 'trdQty': '3737.88451', 'nooftrades': '5818389', 'avgdailyturn': '1730.649307', 'turnover': '36343.63545'}, {'security': 'INFOSYS LIMITED', 'sharetotal': '1.91%', 'trdQty': '2126.34465', 'nooftrades': '6677944', 'avgdailyturn': '1389.488694', 'turnover': '29179.26256'}, {'security': 'HDFC LTD', 'sharetotal': '1.49%', 'trdQty': '821.13037', 'nooftrades': '1827275', 'avgdailyturn': '1083.883967', 'turnover': '22761.56331'}, {'security': 'STATE BANK OF INDIA', 'sharetotal': '1.36%', 'trdQty': '3457.43995', 'nooftrades': '5061978', 'avgdailyturn': '988.0048603', 'turnover': '20748.10207'}, {'security': 'BAJAJ FINANCE LIMITED', 'sharetotal': '1.34%', 'trdQty': '269.05808', 'nooftrades': '2436273', 'avgdailyturn': '970.5396774', 'turnover': '20381.33323'}, {'security': 'AXIS BANK LIMITED', 'sharetotal': '1.26%', 'trdQty': '1999.21066', 'nooftrades': '4408117', 'avgdailyturn': '919.2667403', 'turnover': '19304.60155'}, {'security': 'KOTAK MAHINDRA BANK LTD', 'sharetotal': '1.22%', 'trdQty': '987.61385', 'nooftrades': '3175252', 'avgdailyturn': '886.8933798', 'turnover': '18624.76098'}, {'security': 'TATA MOTORS LIMITED', 'sharetotal': '1.07%', 'trdQty': '2617.53677', 'nooftrades': '4373819', 'avgdailyturn': '777.127778', 'turnover': '16319.68334'}, {'security': 'TOTAL of Top Ten securities', 'sharetotal': '20.59%', 'trdQty': '22646.87599', 'nooftrades': '49086556', 'avgdailyturn': '14963.63914', 'turnover': '314236.4219'}, {'security': 'TOTAL', 'sharetotal': '100', 'trdQty': '709116.1969', 'nooftrades': '494129170', 'avgdailyturn': '72687.21967', 'turnover': '1526431.613'}]}

In [10]:
import pandas as pd
import requests

def get_json_response(url, headers=None):
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()  # Raise an exception for bad status codes
        json_data = response.json()
        return json_data
    except requests.exceptions.RequestException as e:
        print("Error fetching data:", e)
        return None

if __name__ == "__main__":
    url = "https://www.nseindia.com/products/dynaContent/equities/equities/json/mostActiveMonthly.json"
    headers = {
        "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-GB,en;q=0.5",
        "Cookie": "Your Cookie Value Here",
        # Add any other necessary headers here
    }
    json_response = get_json_response(url, headers=headers)
    
    if json_response:
        # Print JSON response to inspect its structure
        print(json_response)

        # Convert JSON response to DataFrame
        df = pd.DataFrame(json_response['mostActiveMonthly']['data'])

        # Save DataFrame to CSV file
        df.to_csv('most_active_monthly.csv', index=False)
        print("Data saved to 'most_active_monthly.csv'")

{'data': [{'security': 'HDFC BANK LTD', 'sharetotal': '5.10%', 'trdQty': '4646.41005', 'nooftrades': '8968546', 'avgdailyturn': '3707.363438', 'turnover': '77854.6322'}, {'security': 'RELIANCE INDUSTRIES LTD', 'sharetotal': '3.45%', 'trdQty': '1984.2471', 'nooftrades': '6338963', 'avgdailyturn': '2510.421295', 'turnover': '52718.8472'}, {'security': 'ICICI BANK LTD.', 'sharetotal': '2.38%', 'trdQty': '3737.88451', 'nooftrades': '5818389', 'avgdailyturn': '1730.649307', 'turnover': '36343.63545'}, {'security': 'INFOSYS LIMITED', 'sharetotal': '1.91%', 'trdQty': '2126.34465', 'nooftrades': '6677944', 'avgdailyturn': '1389.488694', 'turnover': '29179.26256'}, {'security': 'HDFC LTD', 'sharetotal': '1.49%', 'trdQty': '821.13037', 'nooftrades': '1827275', 'avgdailyturn': '1083.883967', 'turnover': '22761.56331'}, {'security': 'STATE BANK OF INDIA', 'sharetotal': '1.36%', 'trdQty': '3457.43995', 'nooftrades': '5061978', 'avgdailyturn': '988.0048603', 'turnover': '20748.10207'}, {'security': 'BAJAJ FINANCE LIMITED', 'sharetotal': '1.34%', 'trdQty': '269.05808', 'nooftrades': '2436273', 'avgdailyturn': '970.5396774', 'turnover': '20381.33323'}, {'security': 'AXIS BANK LIMITED', 'sharetotal': '1.26%', 'trdQty': '1999.21066', 'nooftrades': '4408117', 'avgdailyturn': '919.2667403', 'turnover': '19304.60155'}, {'security': 'KOTAK MAHINDRA BANK LTD', 'sharetotal': '1.22%', 'trdQty': '987.61385', 'nooftrades': '3175252', 'avgdailyturn': '886.8933798', 'turnover': '18624.76098'}, {'security': 'TATA MOTORS LIMITED', 'sharetotal': '1.07%', 'trdQty': '2617.53677', 'nooftrades': '4373819', 'avgdailyturn': '777.127778', 'turnover': '16319.68334'}, {'security': 'TOTAL of Top Ten securities', 'sharetotal': '20.59%', 'trdQty': '22646.87599', 'nooftrades': '49086556', 'avgdailyturn': '14963.63914', 'turnover': '314236.4219'}, {'security': 'TOTAL', 'sharetotal': '100', 'trdQty': '709116.1969', 'nooftrades': '494129170', 'avgdailyturn': '72687.21967', 'turnover': '1526431.613'}]}

KeyError: 'mostActiveMonthly'

In [14]:
import json
import requests

def get_json_response(url, headers=None):
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()  # Raise an exception for bad status codes
        json_data = response.json()
        return json_data
    except requests.exceptions.RequestException as e:
        print("Error fetching data:", e)
        return None

if __name__ == "__main__":
    url = "https://www.nseindia.com/products/dynaContent/equities/equities/json/mostActiveMonthly.json"
    headers = {
        "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-GB,en;q=0.5",
        "Cookie": "Your Cookie Value Here",
        # Add any other necessary headers here
    }
    json_response = get_json_response(url, headers=headers)
    
    if json_response:
        # Save JSON response to a JSON file
        with open('./most_active_monthly.json', 'w') as json_file:
            json.dump(json_response, json_file)
        print("Data saved to 'most_active_monthly.json'")

Data saved to 'most_active_monthly.json'

In [15]:
import pandas as pd
import json

def json_to_csv(json_file, csv_file):
    try:
        # Load JSON file
        with open(json_file, 'r') as f:
            data = json.load(f)
        
        # Convert JSON to DataFrame
        df = pd.json_normalize(data)
        
        # Save DataFrame to CSV
        df.to_csv(csv_file, index=False)
        return True
    except Exception as e:
        print(f"Error converting JSON to CSV: {e}")
        return False

# Example usage
json_file = "most_active_monthly.json"
csv_file = "most_active_monthly.csv"
success = json_to_csv(json_file, csv_file)

if success:
    print(f"JSON file '{json_file}' converted to CSV file '{csv_file}' successfully.")
else:
    print("Conversion failed.")

JSON file 'most_active_monthly.json' converted to CSV file 'most_active_monthly.csv' successfully.

In [19]:
import json
import csv

# JSON data
json_data = '{"avgdailyturn":"3707.363438","nooftrades":"8968546","security":"HDFC BANK LTD","sharetotal":"5.10%","trdQty":"4646.41005","turnover":"77854.6322"}'

# Parse JSON
data = json.loads(json_data)

# Extract keys and values
keys = list(data.keys())
values = list(data.values())

# Write data to CSV file
with open('output.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(keys)
    writer.writerow(values)

In [26]:
import json
import csv

# Step 1: Read the JSON file
def read_json_file(file_path):
    with open(file_path, 'r') as file:
        data = json.load(file)
    return data['data'] # Access the list under the 'data' key

# Step 2: Extract the keys
def extract_keys(data):
    keys = data[0].keys()
    return keys

# Step 3: Write the CSV file
def write_csv_file(file_path, data, keys):
    with open(file_path, 'w', newline='') as file:
        writer = csv.DictWriter(file, fieldnames=keys)
        writer.writeheader()
        for row in data:
            writer.writerow(row)

# Main function to convert JSON to CSV
def json_to_csv(json_file_path, csv_file_path):
    data = read_json_file(json_file_path)
    keys = extract_keys(data)
    write_csv_file(csv_file_path, data, keys)

# Example usage
json_file_path = './most_active_monthly.json'
csv_file_path = './output.csv'
json_to_csv(json_file_path, csv_file_path)

In [27]:
import requests
import json
import csv

# Function to download JSON data from a URL
def download_json_data(url, headers=None):
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status() # Raise an exception for bad status codes
        return response.json()
    except requests.exceptions.RequestException as e:
        print("Error fetching data:", e)
        return None

# Function to save JSON data to a file
def save_json_to_file(data, file_path):
    with open(file_path, 'w') as file:
        json.dump(data, file)
    print(f"Data saved to '{file_path}'")

# Function to convert JSON to CSV
def json_to_csv(json_file_path, csv_file_path):
    with open(json_file_path, 'r') as file:
        data = json.load(file)
    keys = data[0].keys()
    with open(csv_file_path, 'w', newline='') as file:
        writer = csv.DictWriter(file, fieldnames=keys)
        writer.writeheader()
        for row in data:
            writer.writerow(row)
    print(f"Data converted to CSV and saved to '{csv_file_path}'")

if __name__ == "__main__":
    url = " https://www.nseindia.com/api/block-deal"
    headers = {
        "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-GB,en;q=0.5",
        "Cookie": "Your Cookie Value Here",
        # Add any other necessary headers here
    }
    json_data = download_json_data(url, headers=headers)
    
    if json_data:
        # Save JSON data to a file
        save_json_to_file(json_data, './most_active_monthly.json')
        
        # Convert JSON to CSV
        json_to_csv('./most_active_monthly.json', './output.csv')

Error fetching data: 401 Client Error: Unauthorized for url: https://www.nseindia.com/api/block-deal

In [28]:
!pip install --upgrade nsepythonserver

Requirement already satisfied: nsepythonserver in /home/tikam/stock-market/env3/lib/python3.10/site-packages (2.7)
Requirement already satisfied: requests in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from nsepythonserver) (2.31.0)
Requirement already satisfied: pandas in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from nsepythonserver) (1.5.3)
Requirement already satisfied: scipy in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from nsepythonserver) (1.11.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from pandas->nsepythonserver) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from pandas->nsepythonserver) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from pandas->nsepythonserver) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from requests->nsepythonserver) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from requests->nsepythonserver) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from requests->nsepythonserver) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from requests->nsepythonserver) (2023.11.17)
Requirement already satisfied: six>=1.5 in /home/tikam/stock-market/env3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->nsepythonserver) (1.16.0)

In [30]:
from nsepython import *

print(get_blockdeals())

         Date  Symbol  Security Name  Client Name  Buy/Sell  Quantity Traded  \
0  NO RECORDS     NaN            NaN          NaN       NaN              NaN

   Trade Price / Wght. Avg. Price
0                             NaN

In [31]:
print(get_bulkdeals())

           Date      Symbol              Security Name  \
0   05-APR-2024       AAVAS   Aavas Financiers Limited
1   05-APR-2024        ASAL   Automotive Stampings and
2   05-APR-2024      ASPIRE  Aspire & Innovative Adv L
3   05-APR-2024      ASPIRE  Aspire & Innovative Adv L
4   05-APR-2024  BLBLIMITED                BLB Limited
..          ...         ...                        ...
58  05-APR-2024        SECL  Salasar Exterior Cont Ltd
59  05-APR-2024  SKMEGGPROD    SKM Egg Products Export
60  05-APR-2024         SRM    SRM Contractors Limited
61  05-APR-2024      TARMAT             Tarmat Limited
62  05-APR-2024      VIJAYA  Vijaya Diagnostic Cen Ltd

                                          Client Name Buy/Sell  \
0                       GRAVITON RESEARCH CAPITAL LLP      BUY
1                       GRAVITON RESEARCH CAPITAL LLP      BUY
2              MANSI SHARE AND STOCK ADVISORS PVT LTD      BUY
3                                HEM FINLEASE PVT LTD      BUY
4                             SETU SECURITIES PVT LTD      BUY
..                                                ...      ...
58                            NIKUNJ ANILKUMAR MITTAL     SELL
59  MULTIPLIER SHARE & STOCK ADVISORS PRIVATE LIMITED     SELL
60             MANSI SHARE AND STOCK ADVISORS PVT LTD     SELL
61                            MOTISONS SHARES PVT LTD     SELL
62  CANARA ROBECO MUTUAL FUND A/C - CANARA ROBECO ...     SELL

    Quantity Traded  Trade Price / Wght. Avg. Price Remarks
0            447813                         1562.28       -
1             80964                          680.80       -
2              4000                           59.15       -
3            354000                           60.00       -
4            490000                           25.20       -
..              ...                             ...     ...
58          1331250                           19.40       -
59           150003                          314.60       -
60            16694                          228.82       -
61           215000                          110.29       -
62           692000                          664.00       -

[63 rows x 8 columns]

In [42]:
print(nse_fiidii())

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

    category         date buyValue sellValue  netValue
0     DII **  05-Apr-2024  9462.33  12832.75  -3370.42
1  FII/FPI *  05-Apr-2024  12834.7  11175.43   1659.27

100   149  100   149    0     0    177      0 --:--:-- --:--:-- --:--:--   178

In [33]:
## Most Active
nse_most_active(type="securities",sort="value")

,symbol,identifier,lastPrice,pChange,quantityTraded,totalTradedVolume,totalTradedValue,previousClose,exDate,purpose,yearHigh,yearLow,change,open,closePrice,dayHigh,dayLow,lastUpdateTime
0,HDFCBANK,HDFCBANKEQN,1550.05,1.469626,29527951,29527951,4.563043e+10,1527.60,16-May-2023,DIVIDEND - RS 19 PER SHARE,1757.50,1363.55,22.45,1539.00,1549.55,1554.50,1530.15,05-Apr-2024 15:59:37
1,IREDA,IREDAEQN,176.40,11.398800,142812761,142812761,2.476373e+10,158.35,None,None,214.80,50.00,18.05,162.00,176.45,181.15,161.00,05-Apr-2024 15:59:59
2,JIOFIN,JIOFINEQN,373.00,3.238306,46979676,46979676,1.735100e+10,361.30,None,None,374.85,202.80,11.70,361.00,373.20,374.85,359.05,05-Apr-2024 16:00:00
3,LIQUIDBEES,LIQUIDBEESEQN,1000.01,0.001000,17173728,17173728,1.717373e+10,1000.00,19-Sep-2017,EXIT OPTION PURSUANT TO CHANGE IN FUNDAMENTAL...,1030.00,970.00,0.01,1000.00,1000.00,1003.65,999.99,05-Apr-2024 15:59:58
4,ICICIBANK,ICICIBANKEQN,1084.00,0.477360,15340637,15340637,1.647032e+10,1078.85,09-Aug-2023,DIVIDEND - RS 8 PER SHARE,1113.55,864.40,5.15,1070.00,1083.40,1086.00,1067.45,05-Apr-2024 15:59:19
5,IRFC,IRFCEQN,147.95,2.921739,81853830,81853830,1.202515e+10,143.75,10-Nov-2023,INTERIM DIVIDEND - RE 0.80 PER SHARE,192.80,27.20,4.20,144.00,147.85,149.40,142.80,05-Apr-2024 15:59:58
6,KOTAKBANK,KOTAKBANKEQN,1783.95,1.989538,6558023,6558023,1.160200e+10,1749.15,04-Aug-2023,DIVIDEND - RS 1.50 PER SH,2064.40,1667.40,34.80,1749.05,1785.15,1787.20,1740.10,05-Apr-2024 15:59:43
7,RELIANCE,RELIANCEEQN,2925.95,0.003418,3721149,3721149,1.088425e+10,2925.85,21-Aug-2023,DIVIDEND - RS 9 PER SHARE,3024.90,2220.30,0.10,2921.75,2920.20,2941.60,2912.00,05-Apr-2024 15:59:56
8,AXISBANK,AXISBANKEQN,1062.50,-0.042335,9210187,9210187,9.710945e+09,1062.95,07-Jul-2023,DIVIDEND - RE 1 PER SHARE,1151.85,843.95,-0.45,1061.10,1059.10,1063.00,1048.10,05-Apr-2024 15:58:05
9,TATACHEM,TATACHEMEQN,1130.20,3.342020,8082508,8082508,9.173566e+09,1093.65,14-Jun-2023,ANNUAL GENERAL MEETING/DIVIDEND - RS 17.50 PER...,1349.00,921.65,36.55,1094.95,1132.55,1160.00,1088.10,05-Apr-2024 15:59:29
10,IDEA,IDEAEQN,13.35,0.000000,690376450,690376450,9.119873e+09,13.35,07-Jul-2023,ANNUAL GENERAL MEETING,18.40,6.00,0.00,13.35,13.30,13.55,12.95,05-Apr-2024 15:59:52
11,NCC,NCCEQN,271.50,6.428851,32794515,32794515,8.877147e+09,255.10,25-Aug-2023,DIVIDEND - RS 2.20 PER SHARE,278.05,99.65,16.40,255.10,272.70,278.05,254.00,05-Apr-2024 15:59:46
12,BAJFINANCE,BAJFINANCEEQN,7189.65,-1.287174,1200494,1200494,8.637806e+09,7283.40,30-Jun-2023,DIVIDEND - RS 30 PER SHARE,8192.00,5705.55,-93.75,7234.75,7175.65,7259.00,7156.00,05-Apr-2024 15:59:40
13,AAVAS,AAVASEQN,1594.45,9.799263,5509973,5509973,8.629444e+09,1452.15,None,None,1817.60,1307.00,142.30,1499.80,1598.55,1620.00,1490.00,05-Apr-2024 15:59:57
14,SBIN,SBINEQN,765.90,0.869222,9939620,9939620,7.557888e+09,759.30,31-May-2023,DIVIDEND - RS 11.30 PER SHARE,793.40,519.05,6.60,757.95,764.75,767.70,752.60,05-Apr-2024 15:59:45
15,INFY,INFYEQN,1480.40,-0.423757,5072482,5072482,7.508440e+09,1486.70,25-Oct-2023,INTERIM DIVIDEND - RS 18 PER SHARE,1733.00,1185.30,-6.30,1480.05,1479.10,1486.70,1476.05,05-Apr-2024 15:59:58
16,TATASTEEL,TATASTEELEQN,163.30,-0.061200,44668121,44668121,7.255890e+09,163.40,22-Jun-2023,ANNUAL GENERAL MEETING/DIVIDEND - RS 3.60 PER ...,166.25,103.20,-0.10,163.90,163.35,164.15,160.80,05-Apr-2024 15:59:48
17,VEDL,VEDLEQN,318.40,2.726246,22256365,22256365,7.035905e+09,309.95,27-Dec-2023,INTERIM DIVIDEND - RS 11 PER SHARE,322.40,208.00,8.45,311.05,318.95,322.40,305.95,05-Apr-2024 15:59:56
18,NHPC,NHPCEQN,93.95,-0.791975,74266481,74266481,6.984763e+09,94.70,22-Feb-2024,INTERIM DIVIDEND - RS 1.40 PER SHARE,115.85,39.90,-0.75,95.00,93.95,95.35,92.70,05-Apr-2024 15:59:57
19,ITC,ITCEQN,427.50,1.123596,16147032,16147032,6.905924e+09,422.75,08-Feb-2024,INTERIM DIVIDEND - RS 6.25 PER SHARE,499.70,378.90,4.75,422.50,427.55,431.70,419.95,05-Apr-2024 15:59:45

In [34]:
## Results
nse_results("equities","Quarterly")

,symbol,companyName,industry,audited,cumulative,indAs,reInd,period,relatingTo,financialYear,...,xbrl,format,params,resultDescription,resultDetailedDataLink,exchdisstime,difference,isin,consolidated,broadCastDate
0,GMBREW,GM Breweries Limited,-,Audited,Non-cumulative,Ind-AS New,N,Quarterly,Fourth Quarter,01-Apr-2023 To 31-Mar-2024,...,https://nsearchives.nseindia.com/corporate/xbr...,New,01-Jan-202431-Mar-2024Q4ANNNNEGMBREW,None,None,04-Apr-2024 15:40:06,00:02:26,INE075D01018,Non-Consolidated,04-Apr-2024 15:37:40

In [35]:
# Block Deals
print(nse_blockdeal())

{'timestamp': '28-Mar-2024 08:48:43', 'data': [], 'totalTradedValue': 0, 'totalTradedVolume': 0, 'Session 2': {'advances': 0, 'declines': 0, 'unchanged': 0}, 'Session 1': {'advances': 0, 'declines': 0, 'unchanged': 0}, 'marketStatus': {'market': 'Capital Market', 'marketStatus': 'Close', 'tradeDate': '05-Apr-2024 15:30', 'index': 'NIFTY 50', 'last': 22513.7, 'variation': -0.9500000000007276, 'percentChange': 0, 'marketStatusMessage': 'Market is Closed'}}

In [36]:
print(nse_marketStatus())

{'marketState': [{'market': 'Capital Market', 'marketStatus': 'Close', 'tradeDate': '05-Apr-2024 15:30', 'index': 'NIFTY 50', 'last': 22513.7, 'variation': -0.9500000000007276, 'percentChange': 0, 'marketStatusMessage': 'Market is Closed'}, {'market': 'Currency', 'marketStatus': 'Close', 'tradeDate': 'Invalid date', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}, {'market': 'Commodity', 'marketStatus': 'Close', 'tradeDate': 'Invalid date', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}, {'market': 'Debt', 'marketStatus': 'Close', 'tradeDate': 'Invalid date', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}, {'market': 'currencyfuture', 'marketStatus': 'Close', 'tradeDate': 'Invalid date', 'index': '', 'last': '83.3400', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed', 'expiryDate': '12-Apr-2024', 'underlying': 'USDINR', 'updated_time': '05-Apr-2024 17:00', 'tradeDateFormatted': '05-Apr-2024 17:00', 'slickclass': 'slick-item'}], 'marketcap': {'timeStamp': '05-Apr-2024', 'marketCapinTRDollars': 4.75, 'marketCapinLACCRRupees': 396.2571391652615, 'marketCapinCRRupees': 39625713.92, 'marketCapinCRRupeesFormatted': '39,625,713.92', 'marketCapinLACCRRupeesFormatted': '396.26', 'underlying': 'Market Cap'}, 'indicativenifty50': {'dateTime': '05-Apr-2024 15:30', 'indexName': 'Nifty 50', 'closingValue': 22513.7, 'finalClosingValue': 22513.7, 'change': -0.96, 'perChange': 0, 'status': 'CLOSE'}}
{'marketState': [{'market': 'Capital Market', 'marketStatus': 'Close', 'tradeDate': '05-Apr-2024 15:30', 'index': 'NIFTY 50', 'last': 22513.7, 'variation': -0.9500000000007276, 'percentChange': 0, 'marketStatusMessage': 'Market is Closed'}, {'market': 'Currency', 'marketStatus': 'Close', 'tradeDate': 'Invalid date', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}, {'market': 'Commodity', 'marketStatus': 'Close', 'tradeDate': 'Invalid date', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}, {'market': 'Debt', 'marketStatus': 'Close', 'tradeDate': 'Invalid date', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}, {'market': 'currencyfuture', 'marketStatus': 'Close', 'tradeDate': 'Invalid date', 'index': '', 'last': '83.3400', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed', 'expiryDate': '12-Apr-2024', 'underlying': 'USDINR', 'updated_time': '05-Apr-2024 17:00', 'tradeDateFormatted': '05-Apr-2024 17:00', 'slickclass': 'slick-item'}], 'marketcap': {'timeStamp': '05-Apr-2024', 'marketCapinTRDollars': 4.75, 'marketCapinLACCRRupees': 396.2571391652615, 'marketCapinCRRupees': 39625713.92, 'marketCapinCRRupeesFormatted': '39,625,713.92', 'marketCapinLACCRRupeesFormatted': '396.26', 'underlying': 'Market Cap'}, 'indicativenifty50': {'dateTime': '05-Apr-2024 15:30', 'indexName': 'Nifty 50', 'closingValue': 22513.7, 'finalClosingValue': 22513.7, 'change': -0.96, 'perChange': 0, 'status': 'CLOSE'}}

## Large Deals

In [38]:

from nsepythonserver import *

def nse_largedeals(mode="bulk_deals"):
  payload = nsefetch('https://www.nseindia.com/api/snapshot-capital-market-largedeal')
  if(mode=="bulk_deals"):
    return pd.DataFrame(payload["BULK_DEALS_DATA"])
  if(mode=="short_deals"):
    return pd.DataFrame(payload["SHORT_DEALS_DATA"])
  if(mode=="block_deals"):
    return pd.DataFrame(payload["BLOCK_DEALS_DATA"])

payload = nse_largedeals()
payload

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   284  100   284    0     0    190      0  0:00:01  0:00:01 --:--:--   190
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 50994    0 50994    0     0  84060      0 --:--:-- --:--:-- --:--:-- 84009
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2201  100  2201    0     0   3008      0 --:--:-- --:--:-- --:--:--  3006

,date,symbol,name,clientName,buySell,qty,watp,remarks
0,05-Apr-2024,AAVAS,Aavas Financiers Limited,GRAVITON RESEARCH CAPITAL LLP,BUY,447813,1562.28,-
1,05-Apr-2024,AAVAS,Aavas Financiers Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,447813,1563.43,-
2,05-Apr-2024,ASAL,Automotive Stampings and,GRAVITON RESEARCH CAPITAL LLP,BUY,80964,680.8,-
3,05-Apr-2024,ASAL,Automotive Stampings and,GRAVITON RESEARCH CAPITAL LLP,SELL,80964,679.82,-
4,05-Apr-2024,ASPIRE,Aspire & Innovative Adv L,GREEN PEAKS ENTERPRISES LLP,SELL,112000,59.83,-
...,...,...,...,...,...,...,...,...
58,05-Apr-2024,TAC,TAC Infosec Limited,NAV CAPITAL VCC - NAV CAPITAL EMERGING STAR FUND,BUY,300000,303.63,-
59,05-Apr-2024,TAC,TAC Infosec Limited,NG FAMILY TRUST,BUY,100800,290,-
60,05-Apr-2024,TARMAT,Tarmat Limited,AEGIS INVESTMENT FUND,BUY,142843,110,-
61,05-Apr-2024,TARMAT,Tarmat Limited,MOTISONS SHARES PVT LTD,SELL,215000,110.29,-
62,05-Apr-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,CANARA ROBECO MUTUAL FUND A/C - CANARA ROBECO ...,SELL,692000,664,-

In [39]:
nse_largedeals("short_deals")

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2201  100  2201    0     0   3723      0 --:--:-- --:--:-- --:--:--  3724

,date,symbol,name,clientName,buySell,qty,watp,remarks
0,01-Apr-2024,HINDCOPPER,HINDUSTAN COPPER LIMITED,None,None,21200,None,None
1,01-Apr-2024,IGL,INDRAPRASTHA GAS LTD,None,None,1375,None,None

In [40]:
nse_largedeals("block_deals")

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2201  100  2201    0     0   3670      0 --:--:-- --:--:-- --:--:--  3674

,date,symbol,name,clientName,buySell,qty,watp,remarks
0,28-Mar-2024,DHANI,Dhani Services Limited,ACM GLOBAL FUND VCC,BUY,10000000,39.2,None
1,28-Mar-2024,DHANI,Dhani Services Limited,INUUS DEVELOPERS PRIVATE LIMITED,SELL,10000000,39.2,None
2,28-Mar-2024,SHRIRAMFIN,Shriram Finance Limited,SANLAM LIFE INSURANCE LIMITED,SELL,5980000,2386,None
3,28-Mar-2024,SHRIRAMFIN,Shriram Finance Limited,SHRIRAM VALUE SERVICES LIMITED,BUY,5980000,2386,None

In [41]:
nse_largedeals("bulk_deals")

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2201  100  2201    0     0   1341      0  0:00:01  0:00:01 --:--:--  1342

,date,symbol,name,clientName,buySell,qty,watp,remarks
0,05-Apr-2024,AAVAS,Aavas Financiers Limited,GRAVITON RESEARCH CAPITAL LLP,BUY,447813,1562.28,-
1,05-Apr-2024,AAVAS,Aavas Financiers Limited,GRAVITON RESEARCH CAPITAL LLP,SELL,447813,1563.43,-
2,05-Apr-2024,ASAL,Automotive Stampings and,GRAVITON RESEARCH CAPITAL LLP,BUY,80964,680.8,-
3,05-Apr-2024,ASAL,Automotive Stampings and,GRAVITON RESEARCH CAPITAL LLP,SELL,80964,679.82,-
4,05-Apr-2024,ASPIRE,Aspire & Innovative Adv L,GREEN PEAKS ENTERPRISES LLP,SELL,112000,59.83,-
...,...,...,...,...,...,...,...,...
58,05-Apr-2024,TAC,TAC Infosec Limited,NAV CAPITAL VCC - NAV CAPITAL EMERGING STAR FUND,BUY,300000,303.63,-
59,05-Apr-2024,TAC,TAC Infosec Limited,NG FAMILY TRUST,BUY,100800,290,-
60,05-Apr-2024,TARMAT,Tarmat Limited,AEGIS INVESTMENT FUND,BUY,142843,110,-
61,05-Apr-2024,TARMAT,Tarmat Limited,MOTISONS SHARES PVT LTD,SELL,215000,110.29,-
62,05-Apr-2024,VIJAYA,Vijaya Diagnostic Cen Ltd,CANARA ROBECO MUTUAL FUND A/C - CANARA ROBECO ...,SELL,692000,664,-